<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>CRUD border</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <h1>LANDINGPAGE</h1>
  <text>fff</text>
  <!-- WEATHER -->
  <div id="weather">
    <span></span>
    <span></span>
  </div>
  <div>
    <!-- background Image -->

    <!-- Navbar -->
    <!-- Navbar in board, news, weather -->
  </div>
  <script src="../static/js/app.js"></script>
  <script src="../static//js/weather.js"></script>
</body>

</html>